.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.container-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content-body {
    width: 90%;
    margin: 0 auto;
    flex: 1;
    min-height: 90vh;
}
.intro {
    background: #EFEFEF;
    padding-top: 38px;
    padding-bottom: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.intro-header {
    padding-bottom: 18px;
}

.intro-body {
    max-width: 972px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 50px;
}

.content-footer {
    width: 100%;
}