*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Roboto;
}
ol, ul {
  list-style: none;
}

.main-content {
  margin-left: 160px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 0px;
    margin-top: 45px;
  }
}